/* 퍼블리싱 과제 : 배너매니저 스와이퍼 */
@font-face {
	font-family: "Pretendard";
    src: url('/iv/font/Pretendard-Regular.woff2') format('woff2'),
        url('/iv/font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
	font-family: "Pretendard";
    src: url('/iv/font/Pretendard-Medium.woff2') format('woff2'),
        url('/iv/font/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
}

.guide_con {font-family: Pretendard, Verdana,Dotum, AppleGothic, sans-serif;}

.guide_title {
    font-size: 35px;
    margin: 0 auto;
    font-weight: 500;
    width: fit-content;
}

.tab_wrap {margin: 0 auto 100px;}

.hash_list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 50px;
}

.hash_item {
    font-size: 24px;
    color: #787878;
    margin: 0 10px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
}

.active {color: #444444;}

.active::after {
    content: "";
    background-color: #F7E8EA;
    display: block;
    height: 0.7em;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -1;
}

.tab_list {
    position: relative;
    padding: 0 10px;
}
.swiper.hash_banner {position: static;}

.hash_banner .swiper-slide > a > img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.tab_list .swiper-button-prev, .tab_list .swiper-button-next {
    color: gray;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    background-size: auto 50%;
    border: 1px solid #EAEAEA;
}

.tab_list .swiper-button-prev {left: -10px;}
.tab_list .swiper-button-next {right: -10px;}
.tab_list .swiper-button-next::after, .tab_list .swiper-button-prev::after {font-size: 20px;}
.tab_list .swiper-button-disabled {pointer-events: auto;}

.swiper-pagination {bottom: -65px;}

.swiper-pagination-fraction {
	color: #787878;
    font-size: 17px;
}

.slide_link {
	display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.banner_txt {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
	color: #fff;
    font-size: 23px;
    line-height: 1.3;
    letter-spacing: -0.05em;
    font-weight: 400;
}

/* sidebar가 화면 가리고 있어서 숨기기 위한 설정 */
.position {display: none;}
